Django>=1.10,<1.11
Whoosh>=2.7,<2.8
django-crispy-forms==1.6.0
python-social-auth==0.2.21
https://github.com/translate/translate/archive/master.tar.gz
pyLibravatar==1.7
https://github.com/dtschan/weblate/archive/ose3-cleanenv.tar.gz
pyuca==1.1
django_compressor==2.1
djangorestframework>=3.4,<3.5
defusedxml==0.4.1
httpretty==0.8.14
Babel==2.3.4
PyDNS==2.3.6
six>=1.10.0
PyYAML>=3.0
# Following are installed using apt:
# Pillow
# lxml
# python-dateutil
# python-memcached
